{% extends 'base.html' %}
{% block to_back %}
{{ url_for('employee.index') }}
{% endblock %}
{% block content %}
<style>
    table th{border-bottom:none}
</style>
<div class="container my-3">
    <h4>건강검진</h4>
    <div class="container text-end">
        <a class="btn btn-secondary btn-sm my-2"
           href="{{ url_for('employee_medical_checkup.medical_checkup_request_page') }}">
            건강검진 결과 등록
        </a>
    </div>
    <table class="table table-sm text-center">
        {% if medical_checkup_list.items %}
        {% for medical_checkup in medical_checkup_list.items %}
        <tr style="border-top:1px #dee2e6 solid">
            <th rowspan="4"
                style="vertical-align:middle;width:10%;border-right:1px #dee2e6 solid;border-bottom:1px #dee2e6 solid">
                {{ medical_checkup_list.total -
                ((medical_checkup_list.page-1) * medical_checkup_list.per_page) -
                loop.index0 }}
            </th>
            <th style="border-right:1px #dee2e6 solid" colspan="2">등록일</th>
            <th rowspan="2">자세히 보기</th>
        </tr>
        <tr>
            <td style="border-right:1px #dee2e6 solid" colspan="2">
                {{ medical_checkup.request_date|datetime }}
            </td>
        </tr>
        <tr>
            <th style="border-right:1px #dee2e6 solid">상태</th>
            <th style="border-right:1px #dee2e6 solid">처리일</th>
            <td rowspan="2">
                <a href="{{ url_for('employee_medical_checkup.medical_checkup_request_detail', request_id=medical_checkup.id) }}"
                   class="btn btn-secondary btn-sm">보기</a>
            </td>
        </tr>
        <tr>
            <td style="border-right:1px #dee2e6 solid">
                {% if medical_checkup.state=='WAITING' %}
                대기중
                {% elif medical_checkup.state=='ALLOWED' %}
                승인됨
                {% elif medical_checkup.state=='REJECTED' %}
                거부됨
                {% endif %}
            </td>
            <td style="border-right:1px #dee2e6 solid">
                {% if medical_checkup.proc_date %}
                {{ medical_checkup.proc_date|datetime }}
                {% else %}
                ---
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">요청 목록이 없습니다.</td>
        </tr>
        {% endif %}
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination pagination-sm justify-content-center">
        <!-- 이전 페이지 -->
        {% if medical_checkup_list.has_prev %}
        <li class="page-items">
            <a class="page-link" data-page="{{ medical_checkup_list.prev_num }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in medical_checkup_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != medical_checkup_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if medical_checkup_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ medical_checkup_list.next_num }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
</div>
<form id="searchForm" method="get">
    <input type="hidden" id="page" name="page" value="{{ page or '' }}">
</form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $(".page-link").on('click', function(){
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
    });
</script>
{% endblock %}