{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-cols-2 row-cols-md-7 g-3">
    <div class="col-md-4">
      <a href="{{ url_for('admin.notice') }}" class="btn btn-primary w-100">공지사항 관리</a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.pr_information') }}" class="btn btn-primary w-100">인사정보 관리</a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.request_main') }}" class="btn btn-primary w-100">
        신청 관리
        {% if (hr_change_request|length > 0) or (join_request|length > 0) or (vacation_request|length > 0) %}
        <span class="text-danger small ml-2">{{ hr_change_request|length + join_request|length + vacation_request|length }}</span>
        {% endif %}
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.welfare') }}" class="btn btn-primary w-100">복지 포인트 관리</a>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">급여명세서 조회</button>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.edu') }}" class="btn btn-primary w-100">의무 교육 관리</a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.grievance_list') }}" class="btn btn-primary w-100">고충 관리</a>
    </div>
  </div>
</div>
{% endblock %}