{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="d-flex">
        <h4>의무교육 관리</h4>
        <button onclick="showSearch()" class="btn btn-secondary btn-sm align-self-center ms-auto">상세검색</button>
    </div>
    <table class="table text-center">
        {% if user_list.items %}
        {% for user in user_list.items %}
        <tr style="border-top:1px black solid">
            <td rowspan="5" style="vertical-align:middle;width:10%;border-right:1px #dee2e6 solid;border-bottom:1px black solid" class="align-middle">{{ user_list.total - ((user_list.page-1) * user_list.per_page) - loop.index0 }}</td>
            <th>이름</th>
            <td>{{ user.name }}</td>
            <th>부대명</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th>직책</th>
            <td>{{ user.unit_name }}</td>
            <th>생년월일</th>
            <td nowrap>{{ user.birth_date }}</td>
        </tr>
        <tr>
            <th rowspan="3" style="border-right-width:thin;border-bottom:1px black solid" class="align-middle">교육명</th>
            <td colspan="2" class="text-start">성희롱 예방 교육</td>
            <td>
                <select data-id="{{ user.id }}" data-type="sexual_harassment_prevent" onchange="getPatch('{{ url_for('admin.edu') }}', this)">
                    <option value="N" {% if user.sexual_harassment_prevent=='N' %}selected{% endif %}>N</option>
                    <option value="Y" {% if user.sexual_harassment_prevent=='Y' %}selected{% endif %}>Y</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-start">장애인식 개선 교육</td>
            <td>
                <select data-id="{{ user.id }}" data-type="disability_awareness_improvement" onchange="getPatch('{{ url_for('admin.edu') }}', this)">
                    <option value="N" {% if user.disability_awareness_improvement=='N' %}selected{% endif %}>N</option>
                    <option value="Y" {% if user.disability_awareness_improvement=='Y' %}selected{% endif %}>Y</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="border-bottom:1px black solid" colspan="2" class="text-start">직장 내 괴롭힘 예방 교육</td>
            <td style="border-bottom:1px black solid">
                <select data-id="{{ user.id }}" data-type="workplace_harassment_prevent" onchange="getPatch('{{ url_for('admin.edu') }}', this)">
                    <option value="N" {% if user.workplace_harassment_prevent=='N' %}selected{% endif %}>N</option>
                    <option value="Y" {% if user.workplace_harassment_prevent=='Y' %}selected{% endif %}>Y</option>
                </select>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">사용자가 없습니다</td>
        </tr>
        {% endif %}
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination pagination-sm justify-content-center">
        <!-- 이전 페이지 -->
        {% if user_list.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ user_list.prev_num }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in user_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != user_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if user_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ user_list.next_num }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
    <dialog id="search">
        <h3>상세 검색</h3>
        <form method="get" class="get-form" id="searchForm">
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or '' }}">
            </div>
            <div class="form-group">
                <label for="unitName">부대명</label>
                <input type="text" class="form-control" name="unitName" id="unitName" value="{{ form.unit_name.data or '' }}">
            </div>
            <div class="form-group">
                <label for="position">직책</label>
                <input type="text" class="form-control" name="position" id="position" value="{{ form.position.data or '' }}">
            </div>
            <div class="form-group">
                <label for="birthDate">생년월일</label>
                <input type="date" class="form-control" name="birthDate" id="birthDate" value="{{ form.birth_date.data or '' }}">
            </div>
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <button type="button" onclick="closeSearch()" class="btn btn-secondary btn-sm">취소</button>
            <button type="button" class="btn btn-secondary btn-sm" id="btn_search">검색</button>
        </form>
    </dialog>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function showSearch(){
        var dialog = document.getElementById("search");
        dialog.showModal();
    }
    function closeSearch(){
        event.preventDefault();
        var dialog = document.getElementById("search");
        dialog.close()
    }
    $(document).ready(function(){
        $(".page-link").on('click', function(){
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $("#btn_search").on('click', function(){
            $("#page").val(1);
            $("#searchForm").submit();
        });
    });
    async function getPatch(url, element){
        try{
            const data = {
                id: element.dataset.id,
                type: element.dataset.type,
                value: element.value
            };
            const response = await fetch(url, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            if(!response.ok){
                throw new Error('Error: ${response.statusText}');
            }

            const responseData = await response.json();
            console.log('Data sent successfully:', responseData);
        } catch(error){
            console.error('Error:', error);
            alert('오류가 발생했습니다.')
        }
    }
</script>
{% endblock %}