{% extends "base.html" %}
{% block content %}
<div class="container my-3">
  <h4>가입신청 관리</h4>
  <div class="row justify-content-end my-3">
    <div class="col-6 input-group input-group-sm">
      <input type="text" class="form-control q" value="{{ q or '' }}">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button" id="btn_search">검색</button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr class="text-center thead-dark">
      <th>번호</th>
      <th>신청자</th>
      <th>생년월일</th>
      <th>신청일시</th>
      <th>상태</th>
    </tr>
    </thead>
    <tbody>
    {% if join_request_list.items %}
    {% for join_request in join_request_list.items %}
    <tr class="text-center">
      <td>{{ join_request_list.total - ((join_request_list.page-1) * join_request_list.per_page) - loop.index0 }}</td>
      {% if join_request.state == 'WAITING' %}
      <td><a href="{{ url_for('admin.join_detail', request_id=join_request.id) }}">{{ join_request.name }}</a></td>
      {% else %}
      <td>{{ join_request.name }}</td>
      {% endif %}
      <td>{{ join_request.birth_date }}</td>
      <td>{{ join_request.request_date|datetime }}</td>
      {% if join_request.state == 'WAITING' %}
      <td>대기중</td>
      {% elif join_request.state == 'ALLOWED' %}
      <td>승인됨</td>
      {% elif join_request.state == 'REJECTED' %}
      <td>거부됨</td>
      {% endif %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="5">가입 신청이 없습니다.</td>
    </tr>
    {% endif %}
    </tbody>
  </table>
  <!-- 페이징 처리 시작 -->
  <ul class="pagination pagination-sm justify-content-center">
    <!-- 이전 페이지 -->
    {% if join_request_list.has_prev %}
    <li class="page-items">
      <a class="page-link" data-page="{{ join_request_list.prev_num }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in join_request_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != join_request_list.page %}
    <li class="page-item">
      <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
      <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if join_request_list.has_next %}
    <li class="page-item">
      <a class="page-link" data-page="{{ join_request_list.next_num }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
  </ul>
  <form id="searchForm" method="get">
    <input type="hidden" id="q" name="q" value="{{ q or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page or '' }}">
  </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    $(".page-link").on('click', function(){
      $("#page").val($(this).data("page"));
      $("#searchForm").submit();
    });
    $("#btn_search").on('click', function(){
      $("#q").val($(".q").val());
      $("#page").val(1);
      $("#searchForm").submit();
    });
  });
</script>
{% endblock %}