{% extends 'base.html' %}
{% block content %}
<style>
textarea.readonly{width:100%;resize:none;border:none}
textarea{resize:none}
</style>
<div class="container my-3">
    <div class="d-flex flex-column">
        <div class="item d-flex justify-content-end">
            <button onclick="editMode()" class="btn btn-secondary btn-sm" id="editBtn" {% if
                    post.user_id!=session.get('user_id') %}disabled{% endif %}>글 수정
            </button>
            <button onclick="saveMode()" data-url="'{{ url_for('admin.notice_detail', post_id=post.id) }}'"
                    class="btn btn-secondary btn-sm" id="saveBtn" style="display:none;">글 저장
            </button>
            <button onclick="deleteCheck('{{ url_for('admin.notice_detail', post_id=post.id) }}')"
                    class="btn btn-secondary btn-sm" id="delBtn"
                    {% if post.user_id!=session.get('user_id') %}disabled{% endif %}>삭제
            </button>
        </div>
    </div>
    <table class="table table-sm">
        <thead>
        <tr class="text-center">
           <th><textarea readonly class="autotext readonly" rows="1" >제목 : {{ post.subject }}</textarea></th>
        </tr>
        <tr>
            <td nowrap style="text-align:right;color:gray;font-size:12px;border-bottom:none;padding-bottom:0">작성자 : {{
                post.user.name }}
            </td>
        </tr>
        <tr>
            <td nowrap style="text-align:right;color:gray;font-size:12px;padding-top:0">작성일 : {{
                post.create_date|datetime}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
             <td><textarea readonly class="autotext readonly" rows="1" >{{ post.content }}</textarea></td>
        </tr>
        </tbody>
    </table>
    <!-- 댓글 -->
    {% if post.comment_set|length > 0 %}
    <div class="mt-2">
        {% for comment in post.comment_set %}
        <div class="comment py-2" style="border-bottom:1px #dee2e6 solid;">
            <!-- <span style="white-space: pre-line;">{{ comment.content }}</span>
            <textarea readonly style="resize:none;">{{ comment.content }}</textarea>
            <span>- {{ comment.employee.username }}, {{ comment.create_date|datetime }}</span> -->
            {% if g.user == comment.user %}
            <div class="row">
                <div class="col">
                    <form method="post" action="{{ url_for('admin.comment', comment_id=comment.id) }}">
                        {{ cForm.csrf_token }}
                        <input type="hidden" name="form_id" value="modify">
                        <div>{{ comment.user.name }}</div>
                        <textarea class="autotext readonly" rows="1" readonly name="content"
                                  id="comment_{{ comment.id }}">{{ comment.content }}</textarea>
                        <div style="font-size:12px">{{ comment.create_date|datetime }}{% if comment.modify_date
                            %}(수정됨){% endif %}
                        </div>
                        <div class="text-end">
                            <button type="button" onclick="modify($(this))" class="btn btn-secondary btn-sm"
                                    data-comment_id="{{ comment.id }}" id="modify_{{ comment.id }}">수정
                            </button>
                            <button class="btn btn-secondary btn-sm" onclick="save($(this))" style="display:none"
                                    data-comment_id="{{ comment.id }}" id="save_{{ comment.id }}">저장
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-end"style="display:inline-block">
                    <form method="post" action="{{ url_for('admin.comment', comment_id=comment.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_id" value="delete">
                         <div class="text-end">
                        <button style="white-space:nowrap" class="btn btn-secondary btn-sm">삭제</button>
                         </div>
                    </form>
                </div>
            </div>
            {% else %}
          <div style="color:black">{{ comment.user.name }}</div>
            <textarea class="readonly" rows="1" readonly>{{ comment.content }}</textarea>
            <span style="font-size:12px">{{ comment.create_date|datetime }}</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <form method="post">
            {{ form.csrf_token }}
            <input type="hidden" name="subject" value="none">
            <div>
                댓글 작성
            </div>
           <div class="d-flex">
                    <textarea class="autotext flex-grow-1" rows="1" class="autotext" name="content"></textarea>
                    <button class="btn btn-secondary btn-sm align-self-end" style="white-space:nowrap">등록</button>
                </div>
        </form>
    </div>
    <!-- 댓글 끝 -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  function editMode(){
    $("#subject").removeAttr('readonly');
    $("#content").removeAttr('readonly');
    $("#editBtn").css('display','none');
    $("#saveBtn").css('display','block');
  }
  function saveMode(){
    $("#subject").attr('readonly');
    $("#content").attr('readonly');
    $("#editBtn").css('display','block');
    $("#saveBtn").css('display','none');
    getPatch($("#saveBtn").dataset.url);
  }
  function modify(element){
    $("#comment_"+element.data("comment_id")).removeAttr('readonly');
    element.css('display','none');
    $("#save_"+element.data("comment_id")).css('display','inline-block');
  }
  function save(element){
    $("#comment_"+element.data("comment_id")).attr('readonly');
    $("#modify_"+element.data("comment_id")).css('display','inline-block');
    element.css('display','none');
  }
  async function getPatch(url){
    try{
      const data = {
        subject: $("#subject").val(),
        content: $("#content").val()
      };
      const response = await fetch(url, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });
      if(!response.ok){
        throw new Error('Error: ${response.statusText}');
      }
      const responseData = await response.json();
      console.log('Data sent successfully:', responseData);
    } catch(error){
      console.error('Error:', error);
      alert('오류가 발생했습니다.');
    }
  }
  function deleteCheck(url){
    if(confirm("정말로 삭제하시겠습니까?")){
      delNotice(url);
    }
  }
  async function delNotice(url){
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => {
      if(!response.ok){
        throw new Error('네트워크 응답이 올바르지 않습니다.');
      }
      return response.json();
    })
    .then(data => {
      console.log('성공적으로 삭제되었습니다.:', data);
    })
    .then(()=>{
      location.href="{{ url_for('admin.notice') }}";
    })
    .catch(error => {
      console.error('삭제 중 에러가 발생했습니다.:', error);
    })
  }
    $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});

</script>
{% endblock %}