{% extends 'base.html' %}
{% block content %}
<div class="conatiner">
    <div id="calendar"></div>
    <div class="container" id="detail"></div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='dist/index.global.min.js') }}"></script>
<script type="text/javascript">
    let selectedDate;
    let calendarEl = document.querySelector("#calendar");
    let calendar
    $(document).ready(function(){
        calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ko',
            headerToolbar: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            editable: false,
            height: 'auto',
            dateClick: function(info){
                if(selectedDate == undefined){
                    selectedDate = info.dayEl;
                    selectedDate.style.backgroundColor = '#bce8f1';
                }else if(selectedDate != undefined){
                    if(selectedDate != info.dayEl){
                        selectedDate.style.backgroundColor = '';
                        selectedDate = info.dayEl;
                        selectedDate.style.backgroundColor = '#bce8f1';
                    }
                }
                $.ajax({
                    url: '/admin/punch_in_out/' + info.dateStr,
                    type: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        q: '',
                        page: '1'
                    },
                    success: function(response){
                        $("#detail").html(response.response);
                    }
                });
            },
            datesSet: function(){
            },
        });
        calendar.render();
    });
</script>
{% endblock %}