{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-cols-2 row-cols-md-3 g-3">
    <div class="col-md-4">
      <a href="{{ url_for('admin.join_list') }}" class="btn btn-primary w-100">
        가입 신청
        {% if join_request|length > 0 %}
        <span class="text-danger small ml-2">{{ join_request|length }}</span>
        {% endif %}
      </a>
    </div>
    <div class="col-md-4">
      <a href="{{ url_for('admin.hr_information_list') }}" class="btn btn-primary w-100">
        인사 정보 변경 신청
        {% if hr_change_request|length > 0 %}
        <span class="text-danger small ml-2">{{ hr_change_request|length }}</span>
        {% endif %}
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="btn btn-primary w-100">
        휴가 신청
        {% if vacation_request|length > 0 %}
        <span class="text-danger small ml-2">{{ vacation_request|length }}</span>
        {% endif %}
      </a>
    </div>
  </div>
</div>
{% endblock %}