{% extends 'base.html' %}<!-- user, form -->
{% block content %}
<div class="container my-3">
    <div class="d-flex justify-content-end">
        <button onclick="showEdit()" class="btn btn-secondary btn-sm" style="margin:1px;">편집</button>
        <a href="#" class="delete btn btn-sm btn-outline-secondary btn-sm" style="margin:1px;"
       data-url="{{ url_for('admin.detail', user_id=user.id) }}">삭제</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td rowspan="3" style="width:150px;height:150px;text-align:center;margin=10px" class="align-middle">
                <img src="{{ user.img_addr or url_for('static', filename='basic image.png') }}" alt="" style="display:inline-block;max-width: 100%;height:auto;">
            </td>
            <th class="text-center">성명</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th class="text-center">생년월일</th>
            <td>{{ user.birth_date }}</td>
        </tr>
        <tr>
            <th class="text-center">연락처</th>
            <td>{{ user.phone_num }}</td>
        </tr>
        </thead>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center">주소</th>
            <td>{% if user.address %}{{ user.address }}{% endif %}</td>
        </tr>
        <tr>
            <th class="text-center">부대</th>
            <td>{{ user.unit_name }}</td>
        </tr>
        <tr>
            <th class="text-center">직책</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th class="text-center">채용일</th>
            <td>{{ user.hire_date }}</td>
        </tr>
        <tr>
            <th class="text-center">퇴직일</th>
            <td>{{ user.retirement_date }}</td>
        </tr>
        <tr>
            <th class="text-center">고용형태</th>
            <td>{{ user.employment_type }}</td>
        </tr>
        <tr>
            <th class="text-center">비고</th>
            <td>{% if user.bigo %}{{ user.bigo }}{% endif %}</td>
        </tr>
        </thead>
    </table>
    <dialog id="Edit">
        <h3>정보 편집</h3>
        <form method="post" class="post-form" id="form">
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or user.name }}">
            </div>
            <div class="form-group">
                <label for="birth_date">생년월일</label>
                <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{ form.birth_date.data or user.birth_date }}">
            </div>
            <div class="form-group">
                <label for="phone_num">연락처</label>
                <input type="text" class="form-control" name="phone_num" id="phone_num" value="{{ form.phone_num.data or user.phone_num }}">
            </div>
            <div class="form-group">
                <label for="address">주소</label>
                <input type="text" class="form-control" name="address" id="address" value="{{ form.address.data or user.address }}">
            </div>
            <div class="form-group">
                <label for="unit_name">부대명</label>
                <input type="text" class="form-control" name="unit_name" id="unit_name" value="{{ form.unit_name.data or user.unit_name }}">
            </div>
            <div class="form-group">
                <label for="position">직책</label>
                <input type="text" class="form-control" name="position" id="position" value="{{ form.position.data or user.position }}">
            </div>
            <div class="form-group">
                <label for="hire_date">채용일</label>]
                <input type="date" class="form-control" name="hire_date" id="hire_date" value="{{ form.hire_date.data or user.hire_date }}">
            </div>
            <div class="form-group">
                <label for="retirement_date">퇴직일</label>
                <input type="date" class="form-control" name="retirement_date" id="retirement_date" value="{{ form.retirement_date.data or user.retirement_date }}">
            </div>
            <div class="form-group">
                <label for="employment_type">고용형태</label>
                <select name="employment_type" id="employment_type">
                    {% for value, label in form.employment_type.choices %}
                    <option value="{{ value }}" {% if value == user.employment_type %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="bigo">비고</label>
                <input type="text" class="form-control" name="bigo" id="bigo" value="{{ form.bigo.data or user.bigo }}">
            </div>
            <button type="button" onclick="closeEdit()">취소</button>
            <button>변경</button>
        </form>
    </dialog>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function showEdit(){
        var dialog = document.getElementById("Edit");
        dialog.showModal();
    }
    function closeEdit(){
        event.preventDefault();
        var dialog = document.getElementById("Edit");
        dialog.close();
    }
    const deleteUser = async (url) => {
        try {
            const response = await fetch(url, {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Error: ${response.statusText}');
            }

            location.href = '{{ url_for('admin.pr_information') }}';
        } catch (error) {
            console.error('Error:', error);
        }
    };

    $(document).ready(function() {
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                deleteUser($(this).data('url'));
            }
        });
    });
    {% if g.modifyError %}
    showEdit();
    {% endif %}
</script>
{% endblock %}