{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_welfare_point.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>분기 관리</h4>
    <div class="my-2">
        <form id="addForm" method="post"
              action="{{ url_for('admin_welfare_point.add_quarter') }}"
              enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="container">
                <label for="quarter_name">분기 이름</label>
                <input type="text" id="quarter_name" name="quarter_name">
            </div>
            <div class="container">
                <label for="quarter_file">분기 파일</label>
                <input type="file" accept=".xlsx" id="quarter_file" name="quarter_file">
            </div>
            <div class="container">
                <button type="button"
                        class="btn btn-secondary btn-sm"
                        onclick="checkValidation()">추가</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th>분기명</th>
            <th>편집</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        {% if quarter_list %}
        {% for qt in quarter_list %}
        <tr class="text-center">
            <td>{{ qt.quarter }}</td>
            <td>
                <button class="btn btn-secondary btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#edit"
                        data-bs-name="{{ qt.quarter }}"
                        data-id="{{ qt.id }}">편집</button>
            </td>
            <td>
                <button class="btn btn-secondary btn-sm" onclick="delete_quarter(this)">삭제</button>
            </td>
            <form method="post" action="{{ url_for('admin_welfare_point.delete_quarter', quarter_id=qt.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        </tr>
        {% endfor %}
        {% else %}
        <tr class="text-center">
            <td colspan="5">분기가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLabel">분기명 편집</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    기존 분기명: <span id="origin"></span>
                </div>
                <div class="container">
                    <form method="post" id="editForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <label for="newName">편집할 이름</label>
                        <input type="text" id="newName" name="name">
                        <input type="hidden" id="quarter_id" name="quarter_id">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">취소</button>
                <button type="button" class="btn btn-secondary btn-sm" onclick="editCheck()">편집</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var editModal = document.getElementById('edit');
    editModal.addEventListener('show.bs.modal', function (event) {
       var button = event.relatedTarget;
       var origin = button.getAttribute('data-bs-name');
       $("#origin").html(origin);
       $("#quarter_id").val(button.getAttribute('data-id'));
       $("#editForm").attr('action', button.getAttribute('data-id') + '/edit');
    });
    function delete_quarter(El){
        if(confirm('정말 삭제하시겠습니까?')){
            $(El).parent().next().submit();
        }
    }
    function checkValidation(){
        var fileInput = $("#quarter_file")[0];
        if(!fileInput.files.length > 0){
            alert("파일이 선택되지 않았습니다");
            return;
        }
        if($("#quarter_name").val().trim() == ''){
            alert("분기 이름이 비어있습니다");
            return;
        }
        $("#addForm").submit();
    }
    function editCheck(){
        if($("#newName").val().trim() == ''){
            alert("편집할 이름이 비어있습니다");
            return;
        }
        $("#editForm").submit();
    }
</script>
{% endblock %}