{% extends 'base.html' %}
{% block content %}
<style>
    html, body, iframe, div {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<body>
    <div class="container">
        <a class="btn btn-secondary btn-sm" href="{{ url_for('admin_pay_stub.download_pdf', filename=pdfname) }}" download>다운로드하기</a>
        <iframe src="{{ url_for('admin_pay_stub.send_pdf', filename=pdfname) }}" type="application/pdf"></iframe>
    </div>
</body>
<script src="https://www.jsdelivr.com/package/npm/pdfjs-dist"></script>
{% endblock %}