<div class="row justify-content-end my-3">
    <div class="col-6 input-group input-group-sm">
        <input type="text" class="form-control q" value="{{ q or '' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button" id="btn_search">검색</button>
        </div>
    </div>
</div>
<form method="get" action="/admin/pay_stub/pdf/detail/" id="display_pdf"></form>
<table class="table text-center">
    {% if user_list.items %}
    {% for user in user_list.items %}
    <tr style="border-top:1px black solid">
        <th rowspan="5" style="vertical-align:middle;width:10%;border-right:1px #dee2e6 solid;border-bottom:1px black solid">{{ user_list.total - ((user_list.page-1) * user_list.per_page) - loop.index0 }}</th>
        <th>이름</th>
        <td>{{ user.name }}</td>

    </tr>
    <tr>
        <th>직책</th>
        <td>{{ user.position }}</td>
    </tr>
    <tr>
        <th>생년월일</th>
        <td colspan="3">{{ user.birth_date }}</td>
    </tr>
    <tr>
        <th>부대명</th>
        <td colspan="3">{{ user.unit_name }}</td>
    </tr>
    <tr>
        <td colspan="4" style="border-bottom:1px black solid">
            <button class="btn btn-outline-secondary btn-sm pay_stub_check" data-user_id="{{ user.id }}">급여명세서 확인</button>
        </td>
    </tr>

    {% endfor %}
    {% else %}
    <tr class="text-center">
        <td colspan="6">사용자가 없습니다.</td>
    </tr>
    {% endif %}
</table>
<!-- 페이징 처리 시작 -->
<ul class="pagination pagination-sm justify-content-center">
    <!-- 이전 페이지 -->
    {% if user_list.has_prev %}
    <li class="page-items">
        <a class="page-link" data-page="{{ user_list.prev_num }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in user_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != user_list.page %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if user_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ user_list.next_num }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<input type="hidden" id="q" name="q" value="{{ q or '' }}">
<input type="hidden" id="page" name="page" value="{{ page or '' }}">
<script>
    function loadScript(){
        $(".page-link").on('click', function(){
            var q = $(".q").val();
            var page = $(this).data("page");
            $.ajax({
                url: '{{ url_for('admin_pay_stub.get_user_list') }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page
                },
                success: function(data){
                    $("#userContainer").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.error("Error: " + textStatus + ", " + errorThrown);
                }
            });
        });
        $("#btn_search").on('click', function(){
            var q = $(".q").val();
            var page = 1;
            $.ajax({
                url: '{{ url_for('admin_pay_stub.get_user_list') }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page
                },
                success: function(data){
                    $("#userContainer").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.error("Error: " + textStatus + ", " + errorThrown);
                }
            });
        });
        $(".pay_stub_check").on('click', function(){
            var user_id = $(this).data('user_id');
            var year_id = $("#year").val();
            var month = $("#month").val();
            $.ajax({
                url: user_id + '/detail',
                type: 'GET',
                contentType: 'application/json;charset=UTF-8',
                data: {
                    year_id: year_id,
                    month: month
                },
                success: function(response){
                    if(response.isEmployeeExist == false){
                        alert("해당 인원의 데이터가 존재하지 않습니다.");
                        return;
                    }
                    if(response.isMonthDataExist == false){
                        alert("해당 달의 데이터가 존재하지 않습니다.");
                        return;
                    }
                    var pdfName = response.pdfName;
                    $("#display_pdf").attr('action', $("#display_pdf").attr('action')+pdfName);
                    $("#display_pdf").submit();
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.error("Error: " + textStatus + ", " + errorThrown);
                }
            });
        });
    }
    loadScript();


</script>