{% extends 'base.html' %}
{% block content %}
<style>
textarea.readonly{width:100%;resize:none;border:none}
textarea{resize:none}
</style>
<div class="container my-3">
    <table class="table table-sm">
        <tr>
            <th class="fs-4 my-3">{{ post.subject|safe }}</th>
        </tr>
        <tr class="text-end">
            <td>게시자 : {{ (post|getUser).name }}</td>
        </tr>
        <tr>
            <td class="text-end">등록일 : {{ post.create_date|datetime }}</td>
        </tr>
    </table>
    <div class="container" id="content"></div>
    <!-- 댓글 -->
    {% if comments|length > 0 %}
    <hr>
    <div class="mt-2">
        {% for comment in comments %}
        <div class="comment py-2" style="border-bottom:1px #dee2e6 solid;">
            {% if g.user.id == comment.user_id %}
            <div style="color:black">{{ (comment|getUser).name }}</div>
            <div class="container sn" data-comment_id="{{ comment.id }}">
                {{ comment.content|safe }}
            </div>
            <span style="font-size:12px;">
                {{ comment.create_date|datetime }}
                {% if comment.modify_date %}
                (수정됨)
                {% endif %}
            </span>
            <div class="text-end">
                <button class="btn btn-secondary btn-sm" onclick="edit(this)">수정</button>
                <button class="btn btn-secondary btn-sm" style="display:none" ondblclick="save(this)">저장</button>

                <button class="btn btn-secondary btn-sm" onclick="delete_comment(this)">삭제</button>
                <form method="post" action="#">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                </form>
            </div>
            {% else %}
            <div style="color:black">작성자-{{ (comment|getUser).name }}</div>
            <div class="container">
                {{ comment.content|safe }}
            </div>
            <span style="font-size:12px">
                {{ comment.create_date|datetime }}
                {% if comment.create_date %}
                (수정됨)
                {% endif %}
            </span>
            {% endfor %}
        </div>
        {% endif %}
        <hr>
        <!-- 댓글 작성 -->
        <div>
            <form method="post" action="#">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <textarea rows="1" class="sumernote" style="resize:none" name="content"></textarea>
                <button class="btn btn-secondary btn-sm align-self-end">등록</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}