{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="calendar"></div>
    <div class="container" id="detail"></div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='dist/index.global.min.js') }}"></script>
<script>
    var selectedDate;
    var prevColor;
    var calendarEl = document.querySelector("#calendar");
    var calendar;
    $(document).ready(function(){
        calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ko',
            headerToolbar: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            editable: false,
            height: 'auto',
            dateClick: function(info){
                if(selectedDate == undefined){
                    selectedDate = info.dayEl;
                    prevColor = selectedDate.style.backgroundColor;
                    selectedDate.style.backgroundColor = '#bce8f1';
                }else if(selectedDate != undefined){
                    if(selectedDate != info.dayEl){
                        selectedDate.style.backgroundColor = prevColor;
                        selectedDate = info.dayEl;
                        prevColor = selectedDate.style.backgroundColor;
                        selectedDate.style.backgroundColor = '#bce8f1';
                    }
                }
                $.ajax({
                    url: '/admin/punch_in_out/' + info.dateStr,
                    type: 'GET',
                    contentType: 'html',
                    data: {
                        q: '',
                        page: '1'
                    },
                    success: function(data){
                        $("#detail").html(data);
                    }
                });
            },
            datesSet: function(){
                var startDate = calendar.view.currentStart;
                var endDate = calendar.view.currentEnd;
                var formattedStartDate = formatDate(startDate);
                var formattedEndDate = formatDate(endDate);
                var startDayEl = $('[data-date='+formattedStartDate+']');
                var endDayEl = $('[data-date='+formattedEndDate+']');
                //startDayEl.css('background-color', 'pink');

                var start_date = formatDate(calendar.view.currentStart);
                var end_date = formatDate(calendar.view.currentEnd);
                $.ajax({
                    url: '{{ url_for("admin_punch_in_out.get_unprocessed") }}',
                    type: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                    data: {
                        start_date: start_date,
                        end_date: end_date
                    },
                    success: function(response){
                        response.forEach(date => {
                            dayEl = $('[data-date=' + date + ']');
                            dayEl.css('background-color', 'pink');
                        });
                    }
                });
            }
        });
        calendar.render();
    });
    function rerender(){
        calendar.destroy();
        calendar.render();
    }
    function formatDate(date){
        const pad = (number) => (number < 10 ? '0' : '') + number;
        const year = date.getFullYear();
        const month = pad(date.getMonth() + 1);
        const day = pad(date.getDate());

        return `${year}-${month}-${day}`;
    }
</script>
{% endblock %}