<div class="row justify-content-end my-3">
    <div class="col-6 input-group input-group-sm">
        <input type="text" class="form-control q" name="q" id="q" value="{{ q or '' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
        </div>
        <input type="hidden" id="page" name="page" value="{{ page or '' }}">
    </div>
</div>
<table class="table">
    <thead>
    <tr class="text-center">
        <th>번호</th>
        <th>이름</th>
        <th>출근 시간</th>
        <th>퇴근 시간</th>
        <th>상태</th>
        <th>처리</th>
        <th>비고</th>
    </tr>
    </thead>
    <tbody>
    {% if pio_list.items %}
    {% for pio in pio_list.items %}
    <tr class="text-center">
        <td>{{ pio_list.total - ((pio_list.page-1) * pio_list.per_page) - loop.index0 }}</td>
        <td>{{ pio.name }}</td>
        <td>
            {% if pio.punch_in %}
            {{ pio.punch_in.strftime('[%H:%M]') }}
            {% else %}
            ---
            {% endif %}
        </td>
        <td>
            {% if pio.punch_out %}
            {{ pio.punch_out.strftime('[%H:%M]') }}
            {% else %}
            ---
            {% endif %}
        </td>
        <td>
            {% if pio.state=='WAITING' %}
            대기중
            {% elif pio.state=='PROCESSED' %}
            확인됨
            {% endif %}
        </td>
        <td>
            {% if pio.state=='WAITING' %}
            {% if pio.punch_in and pio.punch_out %}
            <button class="check btn btn-secondary" data-id="{{ pio.pio_id }}">확인</button>
            {% else %}
            <button class="btn btn-secondary disabled">확인</button>
            {% endif %}
            {% elif pio.state=='PROCESSED' %}
            <button class="edit btn btn-secondary" data-id="{{ pio.pio_id }}">저장</button>
            {% endif %}
        </td>
        <td>
            <input
                type="text"
                placeholder="비고 입력"
                {% if pio.state=='WAITING' %}
                disabled
                {% elif pio.state=='PROCESSED' %}
                value="{{ pio.bigo or '' }}"
                {% endif %}
                id="bigo_{{ pio.pio_id }}">
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="7">출되근 기록이 없습니다.</td>
    </tr>
    {% endif %}
    </tbody>
</table>
<!-- 페이징 처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전 페이지 -->
    {% if pio_list.has_prev %}
    <li class="page-items">
        <a class="page-link" data-page="{{ pio_list.prev_num }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in pio_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != pio_list.page %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if pio_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ pio_list.next_num }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<script>
    function loadScript(){
        $(".page-link").on('click', function(){
            var q = $(".q").val();
            var page = $(this).data("page");
            $.ajax({
                url: '{{ url_for("admin_punch_in_out.punch_in_out_detail", date=date) }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page
                },
                success: function(data){
                    $("#detail").html(data);
                }
            });
        });
        $("#btn_search").on('click', function(){
            var q = $(".q").val();
            var page = 1;
            $.ajax({
                url: '{{ url_for("admin_punch_in_out.punch_in_out_detail", date=date) }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page
                },
                success: function(data){
                    $("#detail").html(data)
                }
            });
        });
        $(".check").on("click", function(){
            $.ajax({
                url: '/admin/punch_in_out/proc/accept/' + $(this).data('id'),
                type: 'POST',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
                },
                success: function(){
                    var q = $(".q").val();
                    var page = $("#page").val();
                    $.ajax({
                        url: '{{ url_for("admin_punch_in_out.punch_in_out_detail", date=date) }}',
                        type: 'GET',
                        contentType: 'html',
                        data: {
                            q: q,
                            page: page
                        },
                        success: function(data){
                            $("#detail").html(data);
                            rerender();
                        }
                    });
                }
            });
        });
        $(".edit").on("click", function(){
            console.log($("#bigo_" + $(this).data('id')).val());
            var bigo = $("#bigo_" + $(this).data('id')).val();
            $.ajax({
                url: '/admin/punch_in_out/proc/edit/' + $(this).data('id'),
                type: 'POST',
                beforeSend: function(xhr){
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token() }}');
                },
                dataType: 'json',
                data: {
                    bigo: bigo
                },
                success: function(){
                    var q = $(".q").val();
                    var page = $("#page").val();
                    $.ajax({
                        url: '{{ url_for("admin_punch_in_out.punch_in_out_detail", date=date) }}',
                        type: 'GET',
                        contentType: 'html',
                        data: {
                            q: q,
                            page: page
                        },
                        success: function(data){
                            $("#detail").html(data);
                        }
                    });
                }
            });
        });
    }
    loadScript();
</script>