{% extends 'base.html' %}
{% block content %}
{% if join_request.state == 'WAITING' %}
<div class="container my-3">
    <h4>계정연결</h4>
    <div class="d-flex">
        <h4 class="me-auto">신청자 정보</h4>
        <form method="post">
            <input type="hidden" name="form_id" value="reject">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-danger btn-sm">가입 거부</button>
        </form>
    </div>
    <table class="table text-center my-2">
        <thead>
        <tr>
            <th>이름</th>
            <th>생년월일</th>
            <th>신청 일시</th>
        </tr>
        </thead>
        <tbody>
        <td>{{ join_request.name }}</td>
        <td>{{ join_request.birth_date }}</td>
        <td>{{ join_request.request_date|datetime }}</td>
        </tbody>
    </table>
    <h4>검색 창</h4>
    <form method="get">
        <div class="d-flex my-2">
            <input placeholder="이름" class="flex-fill" type="text" name="name" id="name" value="{{ name or '' }}">
        </div>
        <div class="d-flex my-2">
            <input placeholder="id" class="flex-fill"type="text" name="id" id="id">
        </div>
        <div class="d-flex my-2">
            <label class="me-2" for="birth_date">생년월일</label>
            <input type="date" name="birth_date" id="birth_date" value="{{ birth_date or '' }}">
            <button class="btn btn-secondary btn-sm">검색</button>
        </div>
    </form>
    <table class="table text-center my-2">
        {% if result_list %}
        {% for result in result_list %}
        <thead>
        <tr>
            <th>이름</th>
            <td>{{ result.name }}</td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>{{ result.birth_date }}</td>

        </tr>
        <tr>
            <th>부대명</th>
            <td>{{ result.unit_name }}</td>

        </tr>
        <tr>
            <th>직책</th>
            <td>{{ result.position }}</td>

        </tr>
        <tr>
            <th>확인</th>
            <td>
                <form method="post"
                      action="{{ url_for('admin_join_request.allow_request', request_id=join_request.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="user_id" value="{{ result.id }}">
                    <button class="btn btn-secondary btn-sm">연결</button>
                </form>
            </td>
        </tr>
        </thead>
        <tbody>
        {% endfor %}
        {% else %}
        <tr style="border-top:1px #dee2e6 solid">
            <td colspan="2">검색 결과가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container my-3">
    <div class="justify-content-center my-3"><h2>처리된 가입 신청</h2></div>
    <h4>
        <ul>
            <li>신청자 정보</li>
        </ul>
    </h4>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th>이름</th>
            <th>생년월일</th>
            <th>신청 일시</th>
            <th>상태</th>
            <th>처리일</th>
        </tr>
        </thead>
        <tbody>
        <td>{{ join_request.name }}</td>
        <td>{{ join_request.birth_date }}</td>
        <td>{{ join_request.request_date|datetime }}</td>
        <td>
            {% if join_request.state == 'ALLOWED' %}
            승인됨
            {% elif join_request.state == 'REJECTED' %}
            거부됨
            {% endif %}
        </td>
        <td>{{ join_request.proc_date|datetime }}</td>
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}