<div class="row justify-content-end my-3">
    <div class="col-6 input-group input-group-sm">
        <input type="hidden" id="page" value="{{ page or '' }}">
        <input type="text" class="form-control q" id="q" name="q" value="{{ q or '' }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button" id="btn_search">검색</button>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr class="text-center">
        <th>번호</th>
        <th>신청자</th>
        <th>신청일</th>
        <th>상태</th>
    </tr>
    </thead>
    <tbody>
    {% if request_list.items %}
    {% for request in request_list.items %}
    <tr class="text-center">
        <td>
            {{ request_list.total - ((request_list.page-1) * request_list.per_page) - loop.index0 }}
        </td>
        <td>
            <a class="link-dark" href="{{ url_for('admin_join_request.join_detail', request_id=request.id) }}">
                {{ request.name }}
            </a>
        </td>
        <td>{{ request.request_date|datetime }}</td>
        <td>
            {% if request.state == 'WAITING' %}
            대기중
            {% elif request.state == 'ALLOWED' %}
            승인됨
            {% elif request.state == 'REJECTED' %}
            거부됨
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr class="text-center">
        <td colspan="5">가입 신청이 없습니다.</td>
    </tr>
    {% endif %}
    </tbody>
</table>
<!-- 페이징 처리 시작 -->
<ul class="pagination justify-content-center pagination-sm">
    <!-- 이전 페이지 -->
    {% if request_list.has_prev %}
    <li class="page-items">
        <a class="page-link" data-page="{{ request_list.prev_num }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in request_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != request_list.page %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if request_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ request_list.next_num }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<script>
    function loadScript(){
        $(".page-link").on('click', function(){
            var q = $("#q").val();
            var page = $(this).data("page");
            var order = $("#order_by_date").val();
            var processed = $("#processed").is(':checked');
            var unprocessed = $("#unprocessed").is(':checked');
            $.ajax({
                url: '{{ url_for('admin_join_request.get_user_list') }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page,
                    order: order,
                    processed: processed,
                    unprocessed: unprocessed
                },
                success: function(data){
                    $("#userContainer").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.error("Error: " + textStatus + ", " + errorThrown);
                }
            });
        });
        $("#btn_search").on('click', function(){
            var q = $("#q").val();
            var page = 1;
            var order = $("#order_by_date").val();
            var processed = $("#processed").is(':checked');
            var unprocessed = $("#unprocessed").is(':checked');
            $.ajax({
                url: '{{ url_for('admin_join_request.get_user_list') }}',
                type: 'GET',
                contentType: 'html',
                data: {
                    q: q,
                    page: page,
                    order: order,
                    processed: processed,
                    unprocessed: unprocessed
                },
                success: function(data){
                    $("#userContainer").html(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.error("Error: " + textStatus + ", " + errorThrown);
                }
            });
        });
    }
    loadScript();
</script>