{% extends 'base.html' %}
{% block to_back %}
{{ url_for('employee.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>의무교육</h4>
    <table class="table">
        <thead>
        <tr>
            <th>교육명</th>
            <th class="text-center">교육 현황</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>성희롱 예방 교육</td>
            <td class="text-center">
                {% if user.sexual_harassment_prevent == 'Y' %}
                <input type="checkbox" checked onclick="return false;">
                {% else %}
                <input type="checkbox" onclick="return false;">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>장애인식 개선 교육</td>
            <td class="text-center">
                {% if user.disability_awareness_improvement == 'Y' %}
                <input type="checkbox" checked onclick="return false;">
                {% else %}
                <input type="checkbox" onclick="return false;">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>직장 내 괴롭힘 예방 교육</td>
            <td class="text-center">
                {% if user.workplace_harassment_prevent == 'Y' %}
                <input type="checkbox" checked onclick="return false;">
                {% else %}
                <input type="checkbox" onclick="return false;">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}