{% extends 'base.html' %}
{% block to_back %}
#
{% endblock %}
{% block content %}
<div class="container text-center my-3">
    <div class="row row-cols-2 row-cols-md-8 g-3">
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_notice.index') }}">
                    <img src="{{ url_for('static', filename='megaphone image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">공지사항</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_personal_record.index') }}">
                    <img src="{{ url_for('static', filename='personalinformation image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">인사정보</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_request.index') }}">
                    <img src="{{ url_for('static', filename='subscription image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">
                신청 관리
                <span class="badge bg-danger">
                    {{ request_list|length }}
                </span>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="#">
                    <img src="{{ url_for('static', filename='point image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">복지포인트 관리</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_pay_stub.index') }}">
                    <img src="{{ url_for('static', filename='payslip image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">급여명세서 관리</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_edu.index') }}">
                    <img src="{{ url_for('static', filename='education image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">의무교육 관리</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_grievance.index') }}">
                    <img src="{{ url_for('static', filename='contract image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">고충관리</div>
        </div>
        <div class="col-md-4 my-3">
            <div class="col">
                <a href="{{ url_for('admin_punch_in_out.index') }}">
                    <img src="{{ url_for('static', filename='attendance image.png') }}"
                         alt="" style="display:inline-block;max-width:25%;height:auto;">
                </a>
            </div>
            <div class="col">출근부 관리</div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $("#to_back").css('display', 'none');
    });
</script>
{% endblock %}