{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_notice.detail', post_id=post.id) }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <form id="form" method="post" action="{{ url_for('admin_notice.edit_post', post_id=post.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="my-3">
            <button type="button" onclick="check()" class="btn btn-secondary btn-sm">저장</button>
            <a class="btn btn-secondary btn-sm" href="{{ url_for('admin_notice.detail', post_id=post.id) }}">취소</a>
        </div>
        <textarea id="subject" name="subject"></textarea>
        <textarea id="content" name="content"></textarea>
    </form>
</div>
{% endblock %}
{% block script %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function(){
        $("#content").summernote({
            height: 300,
            disableResizeEditor: true,
            minHeight: null,
            maxHeight: null,
            focus: false,
            lang: "ko-KR",
            toolbar: [
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['color', ['forecolor', 'color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link']],
                ['view', ['fullscreen', 'help']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS',
                'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22',
                '24', '28', '30', '36', '50', '72'],
                placeholder: '내용 작성'
        });
        $("#content").summernote('code', `{{ post.content|safe }}`);
        $("#subject").summernote({
            toolbar: [],
            disableResizeEditor: true,
            placeholder: '제목 작성'
        });
        $("#subject").summernote('code', `{{ post.subject|safe }}`);
    });
    function check(){
        if($("#subject").summernote('code').trim() == ''){
            alert("제목이 비어있습니다.");
            return;
        }
        if($("#content").summernote('code').trim() == ''){
            alert("내용이 비어있습니다.");
            return;
        }
        $("#form").submit();
    }
</script>
{% endblock %}