{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <form method="post" action="{{ url_for('admin_notice.create_post') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="btn btn-secondary">등록</button>
        <textarea id="summernote_subject" name="subject"></textarea>
        <textarea id="summernote_content" name="content"></textarea>
    </form>
</div>
{% endblock %}
{% block script %}
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function(){
        $('#summernote_content').summernote({
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: false,
            lang: "ko-KR",
            toolbar: [
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                ['color', ['forecolor', 'color']],
                ['table', ['table']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['insert', ['picture', 'link']],
                ['view', ['fullscreen', 'help']]
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS',
                'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
            fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22',
                '24', '28', '30', '36', '50', '72'],
                placeholder: '내용 작성'
        });
        $("#summernote_subject").summernote({
            toolbar: [],
            placeholder: '제목 작성'
        });
    });
</script>
{% endblock %}