{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_vacation_request.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>신청자 정보</h4>
    <table class="table">

        <tr>
            <th>이름</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>{{ user.birth_date }}</td>
        </tr>
        <th>부대명</th>
        <td>{{ user.unit_name }}</td>
        <tr>
            <th>직책</th>
            <td>{{ user.position }}</td>
        </tr>
        
    </table>
    <table class="table">
        <thead>
        <tr>
            <th>시작일</th>
            <th>종료일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ request.from_date }}</td>
            <td>{{ request.to_date }}</td>
        </tr>
        </tbody>
    </table>
    <h4>사유</h4>
    <div class="container">
        {{ request.reason }}
    </div>
    <hr>
    <div class="container d-flex justify-content-end">
        {% if request.state == 'WAITING' %}
        <form method="post" action="{{ url_for('admin_vacation_request.allow', request_id=request.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-secondary btn-sm">승인</button>
        </form>
        <form method="post" action="{{ url_for('admin_vacation_request.deny', request_id=request.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-secondary btn-sm">거절</button>
        </form>
        {% elif request.state == 'ALLOWED' %}
        <ul>
            <li>승인됨</li>
        </ul>
        {% elif request.state == 'REJECTED' %}
        <ul>
            <li>거부됨</li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}