{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_request.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>건강검진 확인요청 관리</h4>
    <select id="order_by_date" onchange="getUser()">
        <option value="desc">최신순</option>
        <option value="asc">오래된순</option>
    </select>
    <input type="checkbox" id="processed" checked onchange="getUser()">처리됨
    <input type="checkbox" id="unprocessed" checked onchange="getUser()">대기중
    <div id="userContainer"></div>
</div>
{% endblock %}
{% block script %}
<script>
    function getUserFirst(){
        var order = $("#order_by_date").val();
        var processed = $("#processed").is(':checked');
        var unprocessed = $("#unprocessed").is(':checked');
        $.ajax({
            url: '{{ url_for("admin_medical_checkup.get_user_list") }}',
            type: 'GET',
            contentType: 'html',
            data: {
                order: order,
                processed: processed,
                unprocessed: unprocessed
            },
            success: function(data){
                $("#userContainer").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.error("Error: " + textStatus + ", " + errorThrown);
            }
        });
    }
    function getUser(){
        var q = $("#q").val();
        var page = $("#page").val();
        var order = $("#order_by_date").val();
        var processed = $("#processed").is(':checked');
        var unprocessed = $("#unprocessed").is(':checked');
        $.ajax({
            url: '{{ url_for("admin_medical_checkup.get_user_list") }}',
            type: 'GET',
            contentType: 'html',
            data: {
                q: q,
                page: page,
                order: order,
                processed: processed,
                unprocessed: unprocessed
            },
            success: function(data){
                $("#userContainer").html(data);
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.error("Error: " + textStatus + ", " + errorThrown);
            }
        });
    }
    $(document).ready(function(){
        getUserFirst();
    });
</script>
{% endblock %}