{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_medical_checkup.index') }}
{% endblock %}
{% block content %}
<style>
    .img-container{
        position:relative;
        overflow:hidden;
    }
    .img{
        max-width:100%;
        height:auto;
        width:auto;
    }
    textarea{resize:none}

</style>
<div class="container my-3">
    <table class="table text-center text-nowrap">
        <tr>
            <th>이름</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>{{ user.birth_date }}</td>
        </tr>
        <tr>
            <th>부대명</th>
            <td>{{ user.unit_name }}</td>
        </tr>
        <tr>
            <th>요청일</th>
            <td>{{ medical_checkup.request_date|datetime }}</td>
        </tr>
        <tr>
            <th>상태</th>
            {% if medical_checkup.state == 'WAITING' %}
            <td>대기중</td>
            {% elif medical_checkup.state == 'REJECTED' %}
            <td colspan="3">거부됨</td>
            {% elif medical_checkup.state == 'ALLOWED' %}
            <td colspan="3">승인됨</td>
            {% endif %}
        </tr>
        <tr>
        <th>비고</th>
        <td>
            <textarea class="autotext flex-fill" rows="1" placeholder="비고 입력칸">{{ medical_checkup.bigo or '' }}</textarea>
            <button class="btn btn-secondary btn-sm" onclick="edit()">저장</button>
        </td>
        </tr>
    </table>
    {% if medical_checkup.state == 'WAITING' %}
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary btn-sm proc" onclick="allow()">승인</button>
        <button class="btn btn-secondary btn-sm proc" onclick="reject()">거부</button>
    </div>
    {% endif %}
    <div class="container img-container">
        <img src="{{ url_for('admin_medical_checkup.medical_checkup_image', request_id=medical_checkup.id) }}" alt=""
             class="img">
    </div>
</div>
<form method="post" id="allow"
      action="{{ url_for('admin_medical_checkup.allow_medical_checkup', request_id=medical_checkup.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="bigo" value="{{ medical_checkup.bigo }}">
</form>
<form method="post" id="reject"
      action="{{ url_for('admin_medical_checkup.reject_medical_checkup', request_id=medical_checkup.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="bigo" value="{{ medical_checkup.bigo }}">
</form>
<form method="post" id="edit"
      action="{{ url_for('admin_medical_checkup.edit_medical_checkup', request_id=medical_checkup.id) }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="bigo" value="{{ medical_checkup.bigo }}">
</form>
{% endblock %}
{% block script %}
<script>
    function allow(event){
        var bigo = $("textarea").val();
        $("#allow [name='bigo']").val(bigo);
        $("#allow").submit();
    }
    function reject(event){
        var bigo = $("textarea").val();
        $("#reject [name='bigo']").val(bigo);
        $("#reject").submit();
    }
    function edit(event){
        var bigo = $("textarea").val();
        $("#edit [name='bigo']").val(bigo);
        $("#edit").submit();
    }
      $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});
</script>
{% endblock %}