{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="id">사용자 이름</label>
            <input type="text" class="form-control" name="id" id="id" value="{{ form.id.data or '' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" value="{{ form.password.data or '' }}">
        </div>
        <button type="submit" class="btn btn-secondary">로그인</button>
        <a href="{{ url_for('auth.join') }}" class="btn btn-secondary">가입 신청</a>
    </form>
</div>
{% endblock %}