{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="id">사용자 이름</label>
            <input type="text" class="form-control" name="id" id="id" value="{{ form.id.data or '' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password" value="{{ form.password.data or '' }}">
        </div>
        <!-- TODO 이 부분에 체크박스를 만들어서 관리자와 사용자의 로그인을 구분지을 수 있도록 한다. -->
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}