{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="post-form">
        <div class="form-group">
            <label for="id_input">사용자 아이디</label>
            <input type="text" class="form-control" id="id_input" value="{{ id or '' }}">
        </div>
        <div class="form-group">
            <label for="password_input">비밀번호</label>
            <input type="password" class="form-control" id="password_input" value="{{ password or '' }}">
        </div>
        <button type="button" id="submitBtn" class="btn btn-secondary btn-sm" onclick="login()">로그인</button>
        <a href="{{ url_for('auth.join_page') }}" class="btn btn-secondary btn-sm">가입 신청</a>
    </div>
</div>
<form method="post" id="login">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="id" id="id">
    <input type="hidden" name="password" id="password">
</form>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='sha512.min.js') }}"></script>
<script>
    function login(){
        if($("#id_input").val().trim() == ''){
            alert('아이디가 비어있습니다');
            return;
        }
        if($("#password_input").val().trim() == ''){
            alert('비밀번호가 비어있습니다.');
            return;
        }
        $("#id").val($("#id_input").val());
        $("#password").val(hex_sha512($("#password_input").val()));
        $("#login").submit();
    }
    $(document).ready(function(){
        $("#password_input").on('keypress', function(event){
            if(event.key === "Enter"){
                login();
            }
        });
    });
</script>
{% endblock %}