{% extends 'base.html' %}
{% block to_back %}
{{ url_for('employee.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>복지포인트</h4>
    <form method="get" action="">
        <label for="quarter_id">분기 선택</label>
        <select name="quarter_id" id="quarter_id">
            {% if quarter_list %}
            {% for qt in quarter_list %}
            <option value="{{ qt.id }}"
                    {% if quarter.id == qt.id %}
                    selected
                    {% endif %}>
                {{ qt.quarter }}
            </option>
            {% endfor %}
            {% endif %}
        </select>
    </form>
    <ul>
        <li><h6>받은 복지 포인트</h6></li>
        <li><h6>
            {% if welfare_point.empty %}
            정보가 조회되지 않습니다.
            {% else %}
            {{ welfare_point.loc[welfare_point.index[0], 'point'] }}
            {% endif %}
        </h6></li>
    </ul>
</div>
{% endblock %}