{% extends 'base.html' %}
{% block to_back %}
{{ url_for('admin_pr_change_request.index') }}
{% endblock %}
{% block content %}
<div class="container my-3">
    <h4>신청자 정보</h4>
    <table class="table text-center">
        <thead>
        <tr>
            <th>이름</th>
            <th>생년월일</th>
            <th>부대명</th>
            <th>직책</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-nowrap">{{ request[1].name }}</td>
            <td class="text-nowrap">{{ request[1].birth_date }}</td>
            <td>{{ request[1].unit_name }}</td>
            <td>{{ request[1].position }}</td>
        </tr>
        </tbody>
    </table>
    {% if request[0].type == 'HIRE' %}
    <h4>고용일 변경 신청</h4>
    <table class="table">
        <thead>
        <tr>
            <th>기존 고용일</th>
            <th>변경 희망 고용일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ request[1].hire_date }}</td>
            <td>{{ request[0].change_to }}</td>
        </tr>
        </tbody>
    </table>
    {% elif request[0].type == 'RETIREMENT' %}
    <h4>퇴직일 변경 신청</h4>
    <table class="table">
        <thead>
        <tr>
            <th>기존 퇴직일</th>
            <th>변경 희망 퇴직일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ request[1].retirement_date }}</td>
            <td>{{ request[0].change_to }}</td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    <h4>사유</h4>
    <div class="container">
        {{ request[0].reason|safe }}
    </div>
    <hr>
    {% if request[0].state == 'WAITING' %}
    <div class="d-flex justify-content-end">
        <form method="post" action="{{ url_for('admin_pr_change_request.allow', request_id=request[0].id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-secondary btn-sm mx-2">승인</button>
        </form>
        <form method="post" action="{{ url_for('admin_pr_change_request.deny', request_id=request[0].id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-secondary btn-sm">거절</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}