{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-cols-2 row-cols-md-7 g-3">
    <div class="col-md-4">
      <button class="btn btn-primary w-100">공지사항 관리</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">인사정보 관리</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">신청 관리</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">복지 포인트 관리</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">급여명세서 조회</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">의무 교육 관리</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">고충 관리</button>
    </div>
  </div>
</div>
{% endblock %}