{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row row-cols-2 row-cols-md-8 g-3">
    <div class="col-md-4">
      <a class="btn btn-primary w-100" href="{{ url_for('employee.notice') }}">공지사항</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary w-100" href="{{ url_for('employee.pr_information', user_id=g.user.id) }}">인사정보 조회</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary w-100" href="{{ url_for('employee.vacation') }}">휴가 신청</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary w-100" href="{{ url_for('employee.welfare') }}">복지 포인트 조회</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary w-100" href="{{ url_for('employee.edu') }}">의무 교육 현황</a>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">급여명세서 조회</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">고충 글 작성</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">건강검진 등록</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary w-100">출근부</button>
    </div>
  </div>
</div>
{% endblock %}