{% extends 'base.html' %}
{% block content %}
<style>
    textarea.readonly{width:100%;resize:none;border:none}
    textarea{resize:none}
    thead td{text-align:right;color:gray}
</style>
<div class="container my-3">
    <div class="d-flex flex-column" style="border-bottom:1px #dee2e6 solid">
        <table class="table">
            <thead>
            <tr>
                <th style="font-size:16px">제목 : {{ post.subject }}</th>
            </tr>
            <tr>
                <td>작성자 : {{ post.user.name }}</td>
            </tr>
            <tr>
                <td>직책 : {{ post.user.position }}</td>
            </tr>
            <tr>
                <td>부대명 : {{ post.user.unit_name }}</td>
            </tr>
            <tr>
                <td>작성일시 : {{ post.create_date|datetime }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="font-size:16px;border-bottom-color:black;">{{ post.content }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 댓글 -->
    {% if post.comment_set|length > 0 %}
    <div class="mt-2">
        {% for comment in post.comment_set %}
        {% if g.user == comment.user %}
        <div class="comment py-2" style="border-bottom:1px #dee2e6 solid;">
            <!-- 로그인 한 사람의 댓글인 경우 -->
            <div>
                <form method="post"
                      action="{{ url_for('employee.edit_comment_grievance', comment_id=comment.id) }}">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div>{{ comment.user.name }}</div>
                    <textarea readonly rows="1" class="autotext readonly" style="resize:none" name="content"
                              id="comment_{{ comment.id }}">{{ comment.content }}</textarea>
                    <div style="font-size:12px">{{ comment.create_date|datetime }}{% if comment.modify_date
                        %}(수정됨){% endif %}
                    </div>
                    <div class="text-end">
                        <button type="button" onclick="modify($(this))" class="btn btn-secondary btn-sm"
                                data-comment_id="{{ comment.id }}" id="modify_{{ comment.id }}">수정
                        </button>
                        <button class="btn btn-secondary btn-sm" onclick="save($(this))" style="display:none"
                                data-comment_id="{{ comment.id }}" id="save_{{ comment.id }}">저장
                        </button>
                    </div>
                </form>
            </div>
            <div class="text-end">
                <form method="post"
                      action="{{ url_for('employee.delete_comment_grievance', comment_id=comment.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button class="btn btn-secondary btn-sm">삭제</button>
                </form>
            </div>
        </div>
        {% else %}
        <div>
            <!-- 로그인 한 사람의 댓글이 아닌 경우 -->
            <span>{{ comment.content }}- {{ comment.user.name }}, {{ comment.create_date|datetime }}</span>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    <!-- 댓글 작성 -->
    <div class="container my-3">
    <form method="post" action="{{ url_for('employee.create_comment_grievance') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="form_id" value="post">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <div class="d-flex my-3">
            <textarea class="flex-grow-1" placeholder="댓글입력" class="autotext" name="content" rows="1"
                      style="resize:none;"></textarea>
            <button class="btn btn-secondary btn-sm align-self-end">등록</button>
        </div>
    </form>
    </div>
</div>
    <!-- 댓글 끝 -->
{% endblock %}
{% block script %}
<script type="text/javascript">
  function modify(element){
    $("#comment_"+element.data("comment_id")).removeAttr('readonly');
    element.css('display', 'none');
    $("#save_"+element.data("comment_id")).css('display', 'block');
  }
  function save(element){
    $("#comment_"+element.data("comment_id")).attr('readonly');
    $("#modify_"+element.data("comment_id")).css('display', 'block');
    element.css('display', 'none');
  }
   $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});
</script>
{% endblock %}