{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="container">
        <a class="btn btn-primary" href="{{ url_for('employee.medical_checkup_request_page') }}">건강검진 결과 등록</a>
    </div>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th>번호</th>
            <th>등록일</th>
            <th>이미지</th>
            <th>상태</th>
            <th>처리일</th>
        </tr>
        </thead>
        <tbody>
        {% if medical_checkup_list.items %}
        {% for medical_checkup in medical_checkup_list.items %}
        <tr class="text-center">
            <td>{{ medical_checkup_list.total - ((medical_checkup_list.page-1) * medical_checkup_list.per_page) - loop.index0 }}</td>
            <td>{{ medical_checkup.request_date|datetime }}</td>
            <td><a href="#" data-type="image-view" data-request_id="{{ medical_checkup.id }}">확인</a></td>
            <td>
                {% if medical_checkup.state=='WAITING' %}
                대기중
                {% elif medical_checkup.state=='ALLOWED' %}
                승인됨
                {% elif medical_checkup.state=='REJECTED' %}
                거부됨
                {% endif %}
            </td>
            <td>
                {% if medical_checkup.proc_date %}
                {{ medical_checkup.proc_date|datetime }}
                {% else %}
                ---
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">요청 목록이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if medical_checkup_list.has_prev %}
        <li class="page-items">
            <a class="page-link" data-page="{{ medical_checkup_list.prev_num }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in medical_checkup_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != medical_checkup_list.page %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if medical_checkup_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ medical_checkup_list.next_num }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <form id="searchForm" method="get">
        <input type="hidden" id="page" name="page" value="{{ page or '' }}">
    </form>
</div>
<div class="container" id="image_preview"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".page-link").on('click', function(){
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
        $('a[data-type="image-view"]').on("click", function(){
            //console.log("/employee/medical_checkup/" + $(this).data("request_id") + "/get_url")
            $.ajax({
                url: "/employee/medical_checkup/" + $(this).data("request_id") + "/get_url",
                type: "GET",
                dataType: "json",
                success: function(response){
                    var imageUrl = response.url;
                    console.log(imageUrl);
                    var imgElement = $("<img>").attr("src", imageUrl).attr("alt", "");
                    $("#image_preview").html(imgElement);
                },
                error: function(){
                    console.log("Error: 이미지를 불러오는 데 실패했습니다.");
                }
            });
        });
    });
</script>
{% endblock %}