{% extends 'base.html' %}
{% block content %}
<style>
textarea.readonly{width:100%;resize:none;border:none}
textarea{resize:none}

</style>
<div class="container my-3">
    <table class="table table-sm">
        <thead>
        <tr class="text-center thead-dark">
            <th style="font-size:16px">제목 : {{ post.subject }}</th>
        </tr>
        <tr>
            <td nowrap style="text-align:right;color:gray;font-size:12px;border-bottom:none;padding-bottom:0">작성자 : {{
                post.user.name }}
            </td>
        </tr>
        <tr>
            <td nowrap style="text-align:right;color:gray;font-size:12px;padding-top:0">작성일 : {{
                post.create_date|datetime}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="2" style="font-size:16px;border-bottom-color:black;">{{
                post.content }}
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 댓글 -->
    {% if post.comment_set|length > 0 %}
    <div class="mt-2">
        {% for comment in post.comment_set %}
        <div class="comment py-2" style="border-bottom:1px #dee2e6 solid;">
            {% if g.user == comment.user %}
            <div class="row">
                <div class="col">
                    <form method="post" action="{{ url_for('employee.edit_comment_notice', comment_id=comment.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_id" value="modify">
                        <div>{{ comment.user.name }}</div>
                        <textarea readonly class="autotext readonly" rows="1" name="content"
                                  id="comment_{{ comment.id }}">{{ comment.content }}</textarea>
                        <div style="font-size:12px">{{ comment.create_date|datetime }}{% if comment.modify_date %}(수정됨){% endif %}</div>
                        <div class="text-end">
                            <button type="button" onclick="modify($(this))" class="btn btn-secondary btn-sm"
                                    data-comment_id="{{ comment.id }}" id="modify_{{ comment.id }}">수정
                            </button>
                            <button style="display:none" class="btn btn-secondary btn-sm" onclick="save($(this))"
                                    data-comment_id="{{ comment.id }}" id="save_{{ comment.id }}">저장
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-end"style="display:inline-block">
                    <form method="post" action="{{ url_for('employee.delete_comment_notice', comment_id=comment.id) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_id" value="delete">
                        <div class="text-end">
                            <button class="btn btn-secondary btn-sm" style="white-space:nowrap">삭제</button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <div style="color:black">{{ comment.user.name }}</div>
            <textarea class="readonly" rows="1" readonly>{{ comment.content }}</textarea>
            <span style="font-size:12px">{{ comment.create_date|datetime }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <div>
            <form method="post" action="{{ url_for('employee.create_comment_notice') }}">
                {{ form.csrf_token }}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="hidden" name="subject" value="none">
                <div>
                    댓글 작성
                </div>
                <div class="d-flex">
                    <textarea class="autotext flex-grow-1" rows="1" class="autotext" name="content"></textarea>
                    <button class="btn btn-secondary btn-sm align-self-end" style="white-space:nowrap">등록</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <!-- 댓글 끝 -->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function modify(element){
        $("#comment_"+element.data("comment_id")).removeAttr("readonly");
        element.css('display', 'none');
        $("#save_"+element.data("comment_id")).css('display', 'inline-block');
    }
    function save(element){
        $("#comment_"+element.data("comment_id")).attr('readonly');
        $("#modify_"+element.data("comment_id")).css('display', 'inline-block');
        element.css('display','none');
    }
    $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});
</script>
{% endblock %}