{% extends 'base.html' %}
{% block content %}
<style>
    a{text-decoration-line:none;color:black}
    .fc-daygrid-event{white-space:normal;text-align:end}
    .fc-event-title-container{color:black;background:white;font-size:14px}
    .fc-h-event{border-color:#ddd}
    .fc-h-event{background:white}
</style>
<div class="container">
    <div id="calendar"></div>
    <div class="container" id="input"></div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='dist/index.global.min.js') }}"></script>
<script type="text/javascript">
    let selectedDate;
    let calendarEl = document.querySelector("#calendar");
    let calendar
    $(document).ready(function(){
        //var selectedDate;
        //var calendarEl = document.querySelector("#calendar");
        //var calendar = new FullCalendar.Calendar(calendarEl, {
        calendar = new FullCalendar.Calendar(calendarEl, {
            locale: 'ko',
            headerToolbar: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            editable: false,
            height: 'auto',
            dateClick: function(info){
                //
                if(selectedDate == undefined){
                    selectedDate = info.dayEl;
                    selectedDate.style.backgroundColor = '#bce8f1';
                }else if(selectedDate != undefined){
                    if(selectedDate != info.dayEl){
                        selectedDate.style.backgroundColor = '';
                        selectedDate = info.dayEl;
                        selectedDate.style.backgroundColor = '#bce8f1';
                    }
                }
                //
                $.ajax({
                    url: "/employee/punch_in_out/detail/" + info.dateStr,
                    type: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                    success: function(response){
                        $("#input").html(response.response);
                    }
                });
                //
            },
            datesSet: function(){
                const date = calendar.view.currentStart;
                const year = date.getFullYear();
                const month = date.getMonth() + 1;
                const result = year + '-' + ("0" + month).slice(-2);
                $.ajax({
                    url: "/employee/punch_in_out/event/" + result,
                    type: 'GET',
                    contentType: 'application/json;charset=UTF-8',
                    success: function(response){
                        calendar.getEvents().forEach(event => event.remove())
                        for(const e of response){
                            calendar.addEvent(e);
                        }
                    }
                });
            }
        });
        calendar.render();
    });
    function rerender(){
        calendar.destroy();
        calendar.render();
    }
</script>
{% endblock %}