<div>
    {% if pio == None %}
    <!-- 정보가 없는 경우 -->
    <form>
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="date" id="date" value="{{ date }}">
        <label for="punch_in">출근 시간</label>
        <input type="time" name="punch_in" id="punch_in">
        <label for="punch_out">퇴근 시간</label>
        <input type="time" name="punch_out" id="punch_out">
        <button type="button" class="btn btn-primary" onclick="create();rerender()">데이터 생성</button>
    </form>
    {% else %}
    <form method="post" action="#">
        <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}">
        <label for="punch_in">출근 시간</label>
        <input type="time" name="punch_in" id="punch_in" value="{{ pio.punch_in or '' }}">
        <label for="punch_out">퇴근 시간</label>
        <input type="time" name="punch_out" id="punch_out" value="{{ pio.punch_out or '' }}">
        <button type="button" class="btn btn-primary" onclick="edit();rerender()">변경사항 저장</button>
    </form>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='dist/index.global.min.js') }}"></script>
<script type="text/javascript">
    {% if pio == None %}
    function create(){
        const date = $("#date").val();
        const punch_in = $("#punch_in").val();
        const punch_out = $("#punch_out").val();
        const csrf_token = $("#csrf_token").val();
        if(punch_in == '' && punch_out == ''){
            alert('비어있는 상태로 저장할 수 없습니다.');
            return;
        }
        $.ajax({
            url: "{{ url_for('employee.punch_in_out_create') }}",
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({
                date: date,
                punch_in: punch_in,
                punch_out: punch_out
            }),
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-CSRFToken', csrf_token)
            },
            success: function(response){
                $("#input").html(response.response);
            }
        });
    }
    {% else %}
    function edit(){
        const punch_in = $("#punch_in").val();
        const punch_out = $("#punch_out").val();
        const csrf_token = $("#csrf_token").val();
        $.ajax({
            url: "{{ url_for('employee.punch_in_out_edit', id=pio.id) }}",
            type: 'POST',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({
                punch_in: punch_in,
                punch_out: punch_out
            }),
            beforeSend: function(xhr){
                xhr.setRequestHeader('X-CSRFToken', csrf_token)
            },
            success: function(response){
                $("#input").html(response.response);
                //calendar.render();
            }
        });
    }
    {% endif %}
</script>