{% extends 'base.html' %}<!-- user, form -->
{% block content %}
<table style="border:1px solid black;">
    <thead>
    <tr>
        <td rowspan="3" style="border:1px solid black;">사진 부분</td>
        <td style="border:1px solid black;">성명</td>
        <td style="border:1px solid black;">{{ user.name }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">생년월일</td>
        <td style="border:1px solid black;">{{ user.birth_date }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">연락처</td>
        <td style="border:1px solid black;">{{ user.phone_num }}</td>
    </tr>
    </thead>
</table>
<table style="border:1px solid black;">
    <thead>
    <tr>
        <td style="border:1px solid black;">주소</td>
        <td style="border:1px solid black;">{% if user.adress %}{{ user.address }}{% endif %}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">부대</td>
        <td style="border:1px solid black;">{{ user.unit_name }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">직책</td>
        <td style="border:1px solid black;">{{ user.position }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">채용일</td>
        <td style="border:1px solid black;">{{ user.hire_date }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">퇴직일</td>
        <td style="border:1px solid black;">{{ user.retirement_date }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">고용형태</td>
        <td style="border:1px solid black;">{{ user.employment_type }}</td>
    </tr>
    <tr>
        <td style="border:1px solid black;">비고</td>
        <td style="border:1px solid black;">{% if user.bigo %}{{ user.bigo }}{% endif %}</td>
    </tr>
    </thead>
</table>
<button onclick="showEdit()" class="btn btn-primary">편집</button>
<dialog id="Edit">
    <h3>정보 편집</h3>
    <form method="post" class="post-form" id="form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name" value="{{ form.name.data or user.name }}">
        </div>
        <div class="form-group">
            <label for="birth_date">생년월일</label>
            <input type="date" class="form-control" name="birth_date" id="birth_date" value="{{ form.birth_date.data or user.birth_date }}">
        </div>
        <div class="form-group">
            <label for="phone_num">연락처</label>
            <input type="text" class="form-control" name="phone_num" id="phone_num" value="{{ form.phone_num.data or user.phone_num }}">
        </div>
        <div class="form-group">
            <label for="address">주소</label>
            <input type="text" class="form-control" name="address" id="address" value="{{ form.address.data or user.address }}">
        </div>
        <div class="form-group">
            <label for="unit_name">부대명</label>
            <input type="text" class="form-control" name="unit_name" id="unit_name" value="{{ form.unit_name.data or user.unit_name }}">
        </div>
        <div class="form-group">
            <label for="position">직책</label>
            <input type="text" class="form-control" name="position" id="position" value="{{ form.position.data or user.position }}">
        </div>
        <div class="form-group">
            <label for="hire_date">채용일</label>]
            <input type="date" class="form-control" name="hire_date" id="hire_date" value="{{ form.hire_date.data or user.hire_date }}">
        </div>
        <div class="form-group">
            <label for="retirement_date">퇴직일</label>
            <input type="date" class="form-control" name="retirement_date" id="retirement_date" value="{{ form.retirement_date.data or user.retirement_date }}">
        </div>
        <div class="form-group">
            <label for="employment_type">고용형태</label>
            <select name="employment_type" id="employment_type">
                {% for value, label in form.employment_type.choices %}
                <option value="{{ value }}" {% if value == user.employment_type %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="bigo">비고</label>
            <input type="text" class="form-control" name="bigo" id="bigo" value="{{ form.bigo.data or user.bigo }}">
        </div>
        <button type="button" onclick="closeEdit()">취소</button>
        <button>변경</button>
    </form>
</dialog>
<a href="#" class="delete btn btn-sm btn-outline-secondary"
   data-url="{{ url_for('admin.detail', user_id=user.id) }}">삭제</a>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function showEdit(){
        var dialog = document.getElementById("Edit");
        dialog.showModal();
    }
    function closeEdit(){
        event.preventDefault();
        var dialog = document.getElementById("Edit");
        dialog.close();
    }
    const deleteUser = async (url) => {
        try {
            const response = await fetch(url, {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Error: ${response.statusText}');
            }

            const data = await response.json();
            console.log('User deleted:', data);
        } catch (error) {
            console.error('Error:', error);
        }
    };

    $(document).ready(function() {
        $(".delete").on('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                deleteUser($(this).data('url'));
                location.href = "{{ url_for('admin.pr_information') }}";
            }
        });
    });
    {% if g.modifyError %}
    showEdit();
    {% endif %}
</script>
{% endblock %}