{% extends 'base.html' %}<!-- user, form -->
{% block content %}
<style>
table thead{
border-top:1px #dee2e6 solid;
}
  table th,table td {
	border-left: 1px #dee2e6 solid;
	border-right: 1px #dee2e6 solid;
}
table th:first-child,
table td:first-child {
	border-left: 0;
}
table th:last-child,
table td:last-child {
	border-right: 0;
}
textarea{min-height:23px}
textarea.autotext{resize:none;display:none}


</style>

<div class="container my-4">
    <h4>인사정보</h4>
    <table class="table">
        <thead style="text-align:center">
        <tr>
            <td rowspan="4" style="width:100px;height:100px;text-align:center;margin=10px" class="align-middle">
                <img src="{{ user.img_addr or url_for('static', filename='basic image.png') }}" alt=""
                     style="display:inline-block;max-width: 100%;height:auto;">
            </td>
        </tr>
        <tr>
            <th class="text-center">성명</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th class="text-center">생년월일</th>
            <td>{{ user.birth_date }}</td>
        </tr>
        <tr>
            <th class="text-center">직책</th>
            <td>{{ user.position }}</td>
        </tr>

        </thead>
        <tbody style="text-align:center">
        <tr>
            <th class="text-center">연락처</th>
            <td style="border-right:none">
                <input type="text" data-edit="phone_num"
                       style="border:none;padding:none;width:100%;background:transparent"
                       value="{{ user.phone_num or '' }}" readonly>
            </td>
            <td>
                <button class="btn btn-light btn-sm" style=";float:right">편집</button>
                <button class="btn btn-secondary btn-sm modify" style="display:none;float:right">저장</button>
            </td>
        </tr>
        <tr>
            <th class="text-center">주소</th>
            <td>
                <input type="text" data-edit="address"
                       style="border:none;padding:none;width:100%;background:transparent"
                       value="{{ user.address or '' }}" readonly>
            </td>
            <td>
                <button class="btn btn-light btn-sm" style="float:right">편집</button>
                <button class="btn btn-secondary btn-sm modify" style="display:none;float:right">저장</button>
            </td>
        </tr>

        <tr>
            <th class="text-center">채용일</th>
            <td>
                <div style="width:100%;margin:none">{{ user.hire_date }}</div>
            </td>
            <td style="text-align:end">
                <button class="btn btn-light btn-sm" style="float:right;white-space:nowrap;">변경 신청</button>
                <input type="date" value="{{ user.hire_date }}" style="display:none">
                <textarea placeholder="사유를 입력하시오" class="autotext"></textarea>
                <button class="btn btn-secondary btn-sm require" data-type="hire_date" style="display:none">신청</button>
                <button class="btn btn-secondary btn-sm cancel" style="display:none">취소</button>
            </td>
        </tr>
        <tr>
            <th class="text-center">퇴직일</th>
            <td>
                <div>{{ user.retirement_date }}</div>
            </td>
            <td style="text-align:end">
                <button class="btn btn-light btn-sm"style="float:right;white-space:nowrap;">변경 신청</button>
                <input type="date" value="{{ user.retirement_date }}" style="display:none">
                <textarea placeholder="사유를 입력하시오" class="autotext" rows="1"></textarea>
                <button class="btn btn-secondary btn-sm require" data-type="retirement_date" style="display:none">신청
                </button>
                <button class="btn btn-secondary btn-sm cancel" style="display:none">취소</button>
            </td>
        </tr>
        <tr>
            <th class="text-center">부대</th>
            <td colspan='2'>{{ user.unit_name }}</td>
        </tr>
        <tr>
            <th class="text-center">고용형태</th>
            <td colspan='2'>{{ user.employment_type }}</td>
        </tr>
        <tr>
            <th class="text-center">비고</th>
            <td colspan='2'>{% if user.bigo %}{{ user.bigo }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

</div>
<form method="post" action="{{ url_for('employee.edit_pr_information', user_id=user.id) }}" id="edit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="phone_num" id="phone_num" value="{{ user.phone_num or '' }}">
    <input type="hidden" name="address" id="address" value="{{ user.address or '' }}">
</form>
<form method="post" action="{{ url_for('employee.require_edit_pr', user_id=user.id) }}" id="require">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="change_to" value="">
    <input type="hidden" name="reason" value="">
    <input type="hidden" name="type" value="">
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    $(function(){
        $(".btn-light").on("click", function(){
            $(this).siblings("input").removeAttr("readonly");
            $(this).prevAll().css("display", "block");
            $(this).nextAll().css("display", "block");
            $(this).css("display", "none");
        });
        $(".modify").on("click", function(){
            $("#"+$(this).siblings("input").data("edit")).val($(this).siblings("input").val());
            $("#edit").submit();
        });
        $(".cancel").on("click", function(){
            $(this).siblings("div").next().css("display", "block");
            $(this).siblings("div").next().nextAll().css("display", "none");
        });
        $(".require").on("click", function(){
            $("#require input[name='change_to']").val($(this).siblings("input").val());
            $("#require input[name='reason']").val($(this).siblings("textarea").val());
            $("#require input[name='type']").val($(this).data("type"));
            $("#require").submit();
        });
    });
 $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});
</script>
{% endblock %}