{% extends 'base.html' %}
{% block content %}
<style>
    table{table-layout:fixed;}
    th{white-space:nowrap}
    textarea{resize:none}
</style>
<div class="container my-3">
    <h4>휴가 신청</h4>
    <form method="post" action="{{ url_for('employee.create_vacation_request') }}">
        <div class="d-flex">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label for="from_date">휴가 시작일</label>
            <input style="margin-left:5px" class="flex-grow-1" type="date" name="from_date" id="from_date">
        </div>
        <div class="d-flex">
            <label for="to_date">휴가 끝일</label>
            <input style="margin-left:5px" class="flex-grow-1" type="date" name="to_date" id="to_date">
        </div>
        <div class="d-flex">
                    <textarea class="autotext flex-grow-1" placeholder="사유" name="reason" id="reason"
                              rows="1"></textarea>
            <button class="btn btn-secondary btn-sm align-self-end">신청</button>
        </div>
    </form>
</div>
<div class="container my-3">
    <h4>휴가신청현황</h4>
    <table class="table text-center">
        {% if vacation_request_list.items %}
        {% for vacation_request in vacation_request_list.items %}
            <tr style="border-top:1px #dee2e6 solid">
                <th rowspan="5" style="vertical-align:middle;width:10%;border-right:1px #dee2e6 solid">
                    {{ vacation_request_list.total - ((vacation_request_list.page-1) *
                    vacation_request_list.per_page) -
                    loop.index0 }}
                </th>
                <th>시작일</th>
                <td>{{ vacation_request.from_date }}</td>
            </tr>
            <tr>
                <th>끝일</th>
                <td>{{ vacation_request.to_date }}</td>
            </tr>
            <tr>
                <th>사유</th>
                <td>{{ vacation_request.reason }}</td>
            </tr>
            <tr>
                <th>신청일시</th>
                <td>{{ vacation_request.request_date|datetime }}</td>
            </tr>
            <tr>
                <th>상태</th>
                <td>{{vacation_request.state}}</td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">신청내역이 없습니다.</td>
        </tr>
        {% endif %}
    </table>
</div>
<!-- 페이징 처리 시작 -->
<ul class="pagination pagination-sm justify-content-center">
    <!-- 이전 페이지 -->
    {% if vacation_request_list.has_prev %}
    <li class="page-items">
        <a class="page-link" data-page="{{ vacation_request_list.prev_num }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in vacation_request_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != vacation_request_list.page %}
    <li class="page-item">
        <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="#">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음 페이지 -->
    {% if vacation_request_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ vacation_request_list.next_num }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징 처리 끝 -->
</div>
<form id="searchForm" method="get">
    <input type="hidden" id="page" name="page" value="{{ page or '' }}">
</form>
{% endblock %}
{% block script %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".page-link").on('click', function(){
            $("#page").val($(this).data("page"));
            $("#searchForm").submit();
        });
    });
    $("textarea.autotext").each(function () {
  this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
}).on("input", function () {
  this.style.height = 0;
  this.style.height = (this.scrollHeight) + "px";
});


</script>
{% endblock %}