{% extends 'base.html' %}
{% block content %}
<div>
    <span class=" fw-bold">분기 선택</span>
    <form method="get">
        <select name="quarter_id" onchange="change_quarter()" id="quarter_list">
            {% if quarter_list %}
            {% for qt in quarter_list %}
            <option value="{{ qt.id }}" {% if quarter.quarter==qt.quarter %}selected{% endif %}>{{ qt.quarter }}</option>
            {% endfor %}
            {% endif %}
        </select>
    </form>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>분기</th>
            <th>복지 포인트</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if welfare %}
            <td>{{ quarter.quarter }}</td>
            <td>{{ welfare.point }}</td>
            {% else %}
            <td colspan="2">정보가 없습니다.</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>
<form method="get" id="search">
    <input type="hidden" name="quarter_id">
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function change_quarter(){
        $("#search input[name='quarter_id']").val($("#quarter_list option:selected").val());
        $("#search").submit();
    }
</script>
{% endblock %}